/* 
* @Author: Marte
* @Date:   2016-10-23 11:10:08
* @Last Modified by:   Marte
* @Last Modified time: 2016-10-23 16:43:47
*/
*{
    margin:0;
    padding: 0;
}
body{
    background:#111;
    position: relative;
}
img{
	border: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.banxin{
    width:1000px;
    margin: 0 auto;
    position:relative;
}
.banxin-one{
	width:1000px;
    margin:580px auto;
    position:relative;
}
.banxin-two{
	width:1000px;
    margin:1150px auto;
    position:relative;
}
.head{
    width:100%;
    height:60px;
    background: #1f1f1f;
}
.login{
    position:absolute;
    right:20px;
    top:15px;
}
.login li{
    float: left;
    padding:5px;
    display:block;
    width:40px;
    height:15px;
    line-height:15px;
    text-align: center;
}
.login li a{
    color: #999;
}
.dy{
    border-right: 1px solid #999;
}
/*logo 搜索栏部分*/
.top{
    position:relative;
    right:120px;
    width:900px;
    height:90px;
}
.logo{
    display:block;
    width:67px;
    height:67px;
    background:url(../images/logo.png);
    position:absolute;
    top:10px;
    left:120px;
}
input{
     width:189px;
     height:30px;
     background:#1f1f1f;
     position:absolute;
     top:25px;
     right:-40px;
     border:none;
     outline: none;
     color:#FFFFFF;
}
.fd{
    display:block;
    width:33px;
    height:31px;
    background:url(../images/fangda.jpg);
    position:absolute;
     top:25px;
     right:149px;
}
.inp{
     width:250px;
     height:30px;
     background:yellowgreen;
}
.goto{
    width:100px;
    height:30px;
    background:green;
    color:white;
    line-height: 30px;
    text-align: center;
      position:absolute;
     top:25px;
     right:-150px;
     border:none;
}
.goto a{
    color:white;
}
/*商品分类*/
.dhl{
    position:relative;
    top:20px;
    background:#1f1f1f;
    width:247px;
    left:10px;
    height:447px;
}
.dh-left{
    width: 218px;
    height:366px;
}
.dh-left>li{
    width:250px;
    height:75px;
     border-left: 1px solid #1f1f1f;
}
.dh-left>li:hover .dh-right{
    display:block;
    background:black;
}
.dh-left>li:hover{
    background:black;
    border-left: 1px solid lime;
}
.dh-left>li h4{
    margin-bottom: 10px;
    position:relative;
    top:15px;
    color:lime;
    left:25px;
}
.dh-left>li a{
    position:relative;
    padding:10px;
    left:40px;
    top:20px;
    color:#999;
    font-size:14px;
}
.dh-left>li a:hover{
    color:lime;
}
#all-product{
    background:#00a000;
    line-height: 72px;
    padding-left:30px ;
    width:218px;
}
#all-product a{
   color: #fff;
    font-size: 18px;
}
.dh-right{
    display:none;
    width:290px;
    height:371px;
    background:black;
    position:absolute;
    top:75px;
    left:245px;
    z-index:20;
}
.dh-right li{
    height:60px;
    padding-left:60px;
}
.dh-right li a{
    color:#fff;
}
.dh-right li img{
    width:40px;
    height:40px;
    position:relative;
   left:-30px;
   top:20px;
}
/*轮播图部分*/
.slider{
    width:800px;
    position: relative;
    top:-418px;
    left:258px;
}
.slider-img{
    width:750px;
    height:438px;
    position: relative;
   /* overflow: hidden;*/
}
.slider-img ul{
    list-style: none;
}
.slider-img ul li{
    position: absolute;
    top:0;
    left:0;
}
.sd>li>img{
	width:750px;
	height: 438px;
}
.arrow{
    position: absolute;
    width:750px;
    height: 40px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}
.arrow .prev,.arrow .next{
    width: 40px;
    height: 40px;
    font-size:30px;
    text-align: center;
    line-height:40px;
    background: rgba(255,255,255,.6);
    cursor:pointer;
}
.arrow .prev{
    float:left;
}
.arrow .next{
    float:right;
}
.ctrl-square{
    position: absolute;
    bottom:5px;
    left:50%;
    transform: translateX(-50%);
}
.ctrl-square span{
    display: inline-block;
    margin: 0 2px;
    width: 15px;
    height: 15px;
    line-height:15px;
    text-align: center;
    background:url(../images/marquee.png) no-repeat -23px 0;
    cursor: pointer;
}
.ctrl-square span.current{
    background:url(../images/marquee.png) no-repeat 0 0;
}
/*产品部分*/
.product{
	position: relative;
	width: 1100px;
	height: 250px;
	top:-350px;
	left:5px;
}
.product li{
	float: left;
	padding-left:20px;
	overflow: hidden;
}
.product li:hover img{
	transform: scale(1.1);
}
/*产品分系列*/
h1{
	color: #fff;
	border-left: 2px #0f0 solid;
	position:relative;
	left:30px;
}
.sb{
	position:absolute;
	top:-300px;
}
.sb ul{
	position: absolute;
	top:40px;
	left:30px;
	height:470px;
	background: black;
}
.sb ul li{
	padding: 10px;
}
.sb ul li a{
	color: #999;
	font: 12px "微软雅黑";
	display: block;
	width: 65px;
}
.hmb{
	position: absolute;
	left:100px;
	overflow: hidden;
}
.hmb img{
	width:310px;
	height:470px;
}
.hmb img:hover{
	transform: scale(1.1);
	transition: all 0.5; 
}
.hmb span{
	display: block;
	width:230px;
	height:50px;
	line-height: 67px;
	text-align: center;
	background: black;
	position: absolute;
	top:370px;
	left: 55px;
	color: #fff;
	font: 14px "微软雅黑";
	padding-top: 10px;
}
.hmb span b{
	color: lime;
}
.count{
	position: absolute;
	left:415px;
	width: 800px;
	position: absolute;
	top: -268px;
}
.count ul li{
	display: block;
	width:200px;
	height: 232px;
	background:black;
	float: left;
	margin:3px;
	border:1px solid transparent;
}
.count ul li:hover{
	border:1px solid lime;
}
.count ul li img{
	position:relative;
    top: 10px;
    left:28px;
}
.count ul li img:hover{
	transform: scale(1.1);
}
.count ul li span{
	display: block;
	font-size:14px;
	line-height:60px;
	color: #fff;
	width: 140px;
	height: 60px;
	position: relative;
	text-align: center;
	top:45px;
	left:30px;
	top:20px;
}
.count ul li span b{
	color: lime;
	position: absolute;
	left:40px;
	top: 20px;
}
#rx{
	display: block;
	width: 51px;
	height: 51px;
	background: url(../images/home_floor_product_tag_hot.png) no-repeat;
	position: absolute;
	top:4px;
	left:4px;
}
#xp{
	display: block;
	width: 51px;
	height: 51px;
	background:url(../images/home_floor_product_tag_new.png) no-repeat;
	position:relative;
	top:-204px;
	left:-1px;
}
.fh{
	position: relative;
	top:-30px;
	height:100px;
	left:45px;
	width: 100%;
	border-bottom: 1px solid #333;
}
.fh li{
	float: left;
	color: #fff;
	font-weight: 700;
	padding:55px;
	font: 20px "微软雅黑";
	height: 50px;
}
.footer{
	width: 100%;
	height:425px;
	background:#1F1F1F;
	position:relative;
	top:250px;
}
.xz{
	width:100%;
	height: 150px;
	position: relative;
	left:30px;
	border-bottom: 1px solid #333;
}
.xz div{
	float: left;
	margin:80px;
	position: relative;
	top:-141px;
}
h4{
	color: #fff;
}
.xz ul{
	height:140px;
	width: 80px;
}
.xz ul li{
	padding:5px;
}
.xz ul li a{
	color: #9D9D9D;
}
.wj{
	position: absolute;
	top:350px;
}
.copyright{
	position: absolute;
	right: 20px;
	top: 350px;
	font-family: Microsoft YaHei, Arial, Verdana, Geneva, sans-serif;
    color: #fff;
    font-weight: 100;
}
/*右边栏*/
.kf{
	width: 50px;
	height:250px;
	position:fixed;
	right:20px;
	top:300px;	
}
.mecar{
	position: absolute;
	top:0px;
	right:-16px;
	display: none;
}
.mecar01{
	position: absolute;
	top:65px;
	right:-16px;
	display: none;
}
.mecar02{
	position: absolute;
	top:133px;
	right:-16px;
	display: none;
}
.mecar03{
	position: absolute;
	top:200px;
	right:-16px;
	display: none;
}
.kf .one a:hover .mecar{
	display: block;
}
.kf .two a:hover .mecar01{
	display: block;
}
.kf .three a:hover .mecar02{
	display: block;
}
.kf #four a:hover .mecar03{
	display: block;
}
